<div class="container mb-3 pb-3">
    
    <form id="form-register" (ngSubmit)="onSubmit()">
                   
        <div class="mb-2">
            <h1 for="name" class="text-center">Your Name</h1>
            <input type="text"  name="name" [(ngModel)]="name" class="form-control" placeholder="Required" maxlength="30">
            <div class="invalid-feedback">
                Your name is required.
            </div>
        </div>

        <div class="mb-2">
            <h1 for="coment" class="text-center">Coment</h1>
            <input type="text"  name="coment" [(ngModel)]="coment" class="form-control coment" placeholder="Coment......" maxlength="30" value required>
            <div class="invalid-feedback">
                Please insert your coment, is required.
            </div>
        </div>

        <input type="submit" class="btn btn-lg btn-block bg-info " value="Enviar">

    </form>
    


</div>
