<div>
    <div class="col-xs-4">                               
        <div class="card mb-4 justify-content-center">

            <div class="card-body pb-0">
                <h3 class="display-5 text-center" >{{carInput.brand}}</h3>
                
                <div id="Information">
                   
                    <dt>Model</dt>
                    <dd>
                        <div >
                            <p>{{carInput.model}}</p>
                        </div>                                      
                    </dd>

                    <dt>Price</dt>
                    <dd>
                        <div >
                            <p>{{carInput.price}}</p>
                        </div>                                       
                    </dd>

                    <dt>Year</dt>
                    <dd>
                        <div >
                            <p>{{carInput.year}}</p>
                        </div>                                       
                    </dd>
                    <dt >Company Id</dt>
                    <dd>
                        <div >
                            <p >{{carInput.dealerId}}</p>
                        </div>                                       
                    </dd>
                     
                </div>

                <div id="footer" class="d-flex align-items-center justify-content-between">
                    <div id="id-car" class="font-weight-bold mr-1">{{carInput.id}}</div>
                    <div>
                        <button (click)="ClickshowCar()">See Car</button>
                        <button class="delete text-danger" (click)="DeleteCar()">Delete</button>
                        <button (click)="ClickeditCar()" >Edit</button>

                    </div>
                   
                </div>
                
            </div>
            
        </div>          
    </div>

</div>
