<div>
    
    <div class="col-xs-4">                               
        <div class="card mb-4 justify-content-center">

            <div class="card-body pb-0">
                <h3 class="display-5 text-center" >{{dealerInput.name}}</h3>
                
                <div id="Information">
                   
                    <dt>Address</dt>
                    <dd>
                        <div >
                            <p>{{dealerInput.address}}</p>
                        </div>                                        
                    </dd>

                    <dt>Phone</dt>
                    <dd>
                        <div >
                            <p>{{dealerInput.phone}}</p>
                        </div>                                      
                    </dd>

                    <dt>Fundation</dt>
                    <dd>
                        <div >
                            <p>{{dealerInput.fundation}}</p>
                        </div>                                       
                    </dd>
                     
                </div>

                <div id="footer" class="d-flex align-items-center justify-content-between">
                    <div id="id-company" class="font-weight-bold">{{dealerInput.id}}</div>
                    <div>
                        <button  (click)=" ClickSeeMore()">See More</button>
                        <button class="delete text-danger" (click)=" DeleteDealer()">Delete</button>
                        <button (click)="ClickEdit()"  >Edit</button>

                    </div>
                   
                </div>
                
            </div>
            
        </div>          
    </div>

</div>
