
<div class="container mb-3 pb-3">
    
    <form id="form-edit" (ngSubmit)="onSubmit(dealer)">
                   
        <div class="mb-2">
            <h1 for="name" class="text-center">Complet Company Name</h1>
            <input type="text"  name="name" [(ngModel)]="dealer.name" class="form-control" placeholder="Required" maxlength="30" value required>
            <div class="invalid-feedback">
                Valid Name is required.
            </div>
        </div>

        <div class="mb-2">
            <h1 for="address" class="text-center">Address Company</h1>
            <input type="text" name="address" [(ngModel)]="dealer.address" class="form-control"  placeholder="Required" maxlength="60" value required>
            <div class="invalid-feedback">
                Valid Address is required.
            </div>
        </div>

        <div class="mb-2">
            <h1 for="phone" class="text-center" >Phone</h1>
            <input type="number" name="phone" [(ngModel)]="dealer.phone" class="form-control"  placeholder="No Required">
        </div>

        <div class="mb-2">
            <h1 for="fundation" class="text-center">Date of Fundation</h1>
            <input type="text" name="fundation" [(ngModel)]="dealer.fundation" class="form-control" placeholder="No Required" maxlength="60">
   
        </div>

      <input type="submit" class="btn btn-lg btn-block bg-info " value="Enviar">

    </form>
    
    <app-dealer *ngIf="show" [dealerInput] = "dealer"></app-dealer>
    
</div>
